.faq-qa-container {
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in .faq-qa-container {
  opacity: 1;
}

.faq-qa-question-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7px 0;
}
.faq-qa-question-container:hover {
  cursor: pointer;
}
.faq-qa-question-container p {
  display: inline;
  width: 85%;
}
.faq-img {
  width: 25px;
  rotate: 90deg;
  margin-right: 0.7px;
  transition: rotate 0.3s, margin-right 0.3s ease-in-out;
}
.faq-img.up {
  rotate: -90deg;
  margin-right: 0px;
}

.faq-qa-answer-container {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}

.faq-qa-answer-container.show-answer {
  max-height: 1000px;
  padding: 5px 0;
  margin-bottom: 5px;
}

@media only screen and (max-width: 700px) {
  .faq-qa-question-container img {
    width: 20px;
    margin-right: 0.5px;
  }
}
