.portfolio-pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.portfolio-pop-up-content-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-pop-up-image-container {
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: 0 3vh;
}
.portfolio-pop-up-image-container img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.portfolio-pop-up-image-container:hover img {
  transform-origin: var(--x) var(--y);
  transform: scale(1.5);
  cursor: zoom-in;
}
.portfolio-pop-up-text-container {
  display: inline-block;
}
.portfolio-pop-up-text-container h3 {
  padding-bottom: 10px;
  padding-top: 40px;
}
.portfolio-pop-up-arrow {
  width: 25px;
  height: 25px;
  margin-top: calc(45vh - 12.5px);
}
.back-arrow {
  rotate: 180deg;
}
.portfolio-pop-up-cross {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5vh;
  margin-right: 5vh;
  width: 22px;
  height: 22px;
}

@media only screen and (max-aspect-ratio: 10/8) {
  .portfolio-pop-up-content-container {
    display: grid;
    width: 90vw;
    margin: 0;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 5% 70% auto;
  }
  .portfolio-pop-up-image-container {
    aspect-ratio: auto;
    margin: 0 auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
  }
  .portfolio-pop-up-image-container:hover img {
    transform-origin: none;
    transform: none;
  }
  .portfolio-pop-up-text-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
  }
  .portfolio-pop-up-text-container h3 {
    padding-bottom: 10px;
    padding-top: 0;
  }
  .portfolio-pop-up-arrow {
    margin: 0;
    align-self: center;
  }
  .back-arrow {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .forward-arrow {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: end;
  }
  .portfolio-pop-up-cross {
    margin-top: 3vh;
    margin-right: 5vw;
  }
}
