/* ----- all ----- */
.about-media-container {
  /* outline: 2px solid black; */
  position: relative;
  margin: 0 auto;
  width: 75%;
  aspect-ratio: 32 / 21;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in .about-media-container {
  opacity: 1;
}
.about-media-item-container {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0px 3px 2px rgb(150, 150, 150);
}

/* ----- img one container ----- */
.about-media-container .about-media-img-one-container {
  /* outline: 2px solid blue; */
  width: 75%;
  aspect-ratio: 2 / 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: -10px;
  right: 0;
  margin-right: 8%;
}
.about-media-container .about-media-img-one-container img {
  height: 135%;
}

/* ----- img two container ----- */
.about-media-container .about-media-img-two-container {
  /* outline: 2px solid red; */
  width: 35%;
  aspect-ratio: 10 / 11;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
}
.about-media-container .about-media-img-two-container img {
  height: 100%;
}

/* ----- img three container ----- */
.about-media-container .about-media-img-three-container {
  /* outline: 2px solid green; */
  width: 40%;
  aspect-ratio: 20 / 15;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-bottom: 5%;
  right: 0;
}
.about-media-container .about-media-img-three-container img {
  height: 110%;
}

.draw-img-container {
  /* outline: 2px solid black; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 3 / 4;
  bottom: -95px;
  left: 160px;
  width: 18%;
}
.draw-arrow {
  width: 20%;
  margin-left: 20%;
  margin-bottom: -5px;
  rotate: -20deg;
}
.draw-circle {
  width: 100%;
  height: 32px;
  /* rotate: -3deg; */
}

/* ----- media query ----- */
@media only screen and (max-width: 1116px) {
  .draw-img-container {
    left: 16.5vw;
    width: 19%;
  }
}
@media only screen and (max-width: 1060px) {
  .draw-img-container {
    left: 16vw;
  }
}
@media only screen and (max-width: 1009px) {
  .draw-img-container {
    bottom: -92px;
    left: 19vw;
    width: 21%;
  }
}
@media only screen and (max-width: 860px) {
  .draw-img-container {
    bottom: -92px;
    left: 18.5vw;
    width: 22%;
  }
}
@media only screen and (max-width: 820px) {
  .draw-img-container {
    left: 21vw;
    width: 23%;
  }
}
@media only screen and (max-width: 770px) {
  .draw-img-container {
    left: 20.5vw;
    width: 24%;
  }
}
@media only screen and (max-width: 738px) {
  .draw-img-container {
    left: 21.5vw;
    width: 25%;
  }
}
@media only screen and (max-width: 704px) {
  .draw-img-container {
    left: 25.5vw;
    width: 26%;
  }
  .draw-arrow {
    margin-left: 0%;
    margin-bottom: -8px;
    rotate: -30deg;
  }
}
@media only screen and (max-width: 700px) {
  .about-media-container {
    width: 90%;
  }
  .about-media-container .about-media-img-one-container {
    top: 0;
  }
  .draw-img-container {
    bottom: -70px;
    left: 22vw;
    width: 23%;
  }
}
@media only screen and (max-width: 684px) {
  .draw-img-container {
    left: 25vw;
    width: 24%;
  }
}
@media only screen and (max-width: 614px) {
  .draw-img-container {
    left: 26vw;
    width: 25%;
  }
}
@media only screen and (max-width: 586px) {
  .draw-img-container {
    left: 30.5vw;
    width: 27%;
  }
}
@media only screen and (max-width: 545px) {
  .draw-img-container {
    left: 30vw;
    width: 29%;
  }
}
@media only screen and (max-width: 502px) {
  .draw-img-container {
    left: 31vw;
    width: 31%;
  }
}
@media only screen and (max-width: 500px) {
  .draw-img-container {
    bottom: -59px;
    width: 32%;
  }
}
@media only screen and (max-width: 482px) {
  .draw-img-container {
    left: 34.5vw;
    width: 33.5%;
  }
  .draw-arrow {
    margin-left: -15%;
    margin-bottom: -12px;
  }
}
@media only screen and (max-width: 450px) {
  .draw-img-container {
    bottom: -60px;
    left: 32.5vw;
  }
}
@media only screen and (max-width: 446px) {
  .draw-img-container {
    left: 34vw;
  }
}
@media only screen and (max-width: 429px) {
  .draw-img-container {
    left: 38.5vw;
    width: 35.5%;
  }
}
@media only screen and (max-width: 382px) {
  .draw-img-container {
    left: 45.5vw;
    width: 41%;
  }
  .draw-arrow {
    margin-left: -23%;
    margin-bottom: -18px;
    rotate: -40deg;
  }
}
@media only screen and (max-width: 350px) {
  .draw-img-container {
    left: 47vw;
    width: 44%;
  }
}
@media only screen and (max-width: 314px) {
  .draw-img-container {
    display: none;
  }
}

/* @media only screen and (max-width: 394px) {
  .draw-arrow {
    margin-left: -10px;
    margin-bottom: -11px;
    rotate: -30deg;
  }
} */
/* @media only screen and (max-width: 379px) {
  .draw-arrow {
    margin-bottom: -9px;
  }
} */
/* @media only screen and (max-width: 337px) {
  .draw-arrow {
    margin-left: -25px;
    margin-bottom: -17px;
    rotate: -40deg;
  }
} */
