.contact-detail-container {
  /* outline: 2px solid black; */
  gap: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .contact-detail-container {
    flex-direction: column;
  }

  .contact-detail-container > :nth-child(2) {
    padding-block: 3%;
  }
}
