.video-component {
  /* outline: 2px solid red; */
  width: 100%;
  height: clamp(300px, 40vw, 450px);
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  margin-bottom: 60px;
  opacity: 0;
  transition: opacity 2s ease;
}
.video-component.fade-in {
  opacity: 1;
}
.reversed {
  flex-direction: row-reverse;
}
.video-container {
  /* outline: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: clamp(300px, 40vw, 450px);
  overflow: hidden;
  box-shadow: 0px 4px 2px rgb(150, 150, 150);
}
.video-container video {
  /* outline: 2px solid pink; */
  object-fit: cover;
  width: 102%;
}
.video-text {
  height: clamp(300px, 40vw, 450px);
  width: 50%;
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-text p {
  padding-top: 4vw;
}
.video-text-subheading h2 {
  padding-bottom: 1.5vw;
}
.reversed .video-text .video-text-subheading,
.reversed .video-text p {
  text-align: end;
}

@media only screen and (max-width: 1000px) {
  .video-text p {
    margin: 0;
  }
}
@media only screen and (max-width: 700px) {
  .video-text {
    padding-inline: 4vw;
  }
}
@media only screen and (max-width: 560px) {
  .video-component {
    width: 90%;
    margin: 0 auto 35px auto;
    height: auto;
    flex-direction: column;
  }
  .video-container {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
  }
  .video-text {
    margin-top: 28px;
    height: auto;
    width: 100%;
    text-align: center;
  }
  .reversed .video-text .video-text-subheading,
  .reversed .video-text p {
    text-align: center;
  }
}
