footer {
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0 -4px 2px -2px rgb(175, 175, 175, 0.5);
}

footer img {
  width: clamp(60px, 10vw, 80px);
}
