.form-input {
  border: 0;
  width: 100%;
  padding: 10px 15px;
}

.form-input.custom-width-bigger {
  width: calc(65% - 10px);
}
.form-input.custom-width-smaller {
  width: calc(35% - 10px);
}

.form-input.custom-width-half-left,
.form-input.custom-width-half-right {
  width: calc(50% - 15px);
}
.form-input.custom-width-half-left {
  margin-right: 5px;
}
.form-input.custom-width-half-right {
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .form-input {
    padding: 10px;
  }
  .form-input.custom-width-bigger,
  .form-input.custom-width-smaller {
    width: 100%;
  }
  .form-input.custom-width-half-left,
  .form-input.custom-width-half-right {
    width: 100%;
    margin: 0;
  }
}
