.map-container {
  width: 80%;
  max-width: 690px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-in .map-container {
  opacity: 1;
}

.map-text-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.map-text-individual-container {
  /* outline: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px 10px 15px 10px;
}
.map-text-individual-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map-text-individual-container.left {
  background-color: rgb(220, 220, 220);
  text-align: left;
}
.map-text-individual-container.right {
  background-color: rgb(190, 190, 190);
  text-align: right;
}
.map-text-smaller-text {
  font-size: clamp(13px, 1.8vw, 16px);
  margin-bottom: 10px;
  opacity: 0.7;
}
.map-text-bigger-text {
  font-size: clamp(18px, 2.2vw, 22px);
  line-height: 1.7;
}

.map {
  /* border: 2px solid rgb(000, 000, 000, 0.2); */
  width: 100%;
  aspect-ratio: 10 / 4;
}

.mapbox-improve-map {
  display: none;
  aspect-ratio: 10 / 4;
}
@media only screen and (max-width: 565px) {
  .map-text-bigger-text span {
    display: none;
  }
}
@media only screen and (max-width: 543px) {
  .map-text-individual-container {
    padding: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .map-container {
    width: 90%;
  }
  .map {
    aspect-ratio: 2 / 1;
  }
}

@media only screen and (max-width: 332px) {
  .map-text-bigger-text span {
    display: inline;
  }
}
